.navbar-default{ 
   background-color: inherit;
   border: none;
   /* display: flex;
   justify-content: space-between */
}
.page-header {
color: rgb(60, 0, 128);
}

.navbar-collapse.collapse{
   display: flex;
   
}

footer .navbar-nav{ 
   display: flex;
   flex-direction: column;
}
.footer{
   background-color: #22252a;
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.region-footer{
   display: flex;
   justify-content: space-between;
}
/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
 